* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background: #e5e5e5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* conteudo geral */

.container {
  width: 1000px;
  height: 588px;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 20px;
}

.container h1 {
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: -1px;
  background: linear-gradient(to bottom, #ef6c00, #db6300);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 36px;
}

.container h1::after {
  content: '';
  align-self: center;
  margin: 0 auto;
  margin: 20px 0 49px 0;
  border-bottom: 1px solid #cfcfcf;
  width: 255px;
}

/* Mensagem */

.mensagem.active {
  display: block;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 16px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 35px;
}

.mensagem {
  display: none;
}

/* Digitos */

.digitos {
  align-self: center;
  display: flex;
  justify-content: center;
  width: 247px;
  margin: 51px 0 151px 0;
}

.digitos.message {
  margin-top: 0;
}

.digitos.reload {
  margin-bottom: 0;
}

.digitos li {
  position: relative;
  min-height: 135px;
  width: 70px;
}

.digitos span {
  position: absolute;
  background: #dddddd;
  width: 68px;
  height: 15px;
  border-radius: 10px;
}

.d1,
.d4 {
  clip-path: polygon(0 0, 100% 0, 78% 100%, 22% 100%);
  left: 1px;
}

.d2,
.d5 {
  clip-path: polygon(0 0, 100% 0, 78% 100%, 18% 100%);
}

.d3,
.d6 {
  clip-path: polygon(0 0, 100% 0, 82% 100%, 22% 100%);
}

.d2 {
  top: 28px;
  left: -27px;
  transform: rotate(270deg);
}

.d3 {
  bottom: 28px;
  left: -27px;
  transform: rotate(270deg);
}

.d4 {
  bottom: 0px;
  transform: rotate(180deg);
}

.d5 {
  right: -27px;
  bottom: 28px;
  transform: rotate(90deg);
}

.d6 {
  top: 28px;
  right: -27px;
  transform: rotate(90deg);
}

.d7 {
  clip-path: polygon(80% 0, 94% 50%, 80% 100%, 20% 100%, 6% 50%, 20% 0);
  top: 60px;
  left: 1px;
}

.conjunto1.init span:nth-child(-n + 6) {
  background: #262a34;
}

.conjunto1.active span {
  background: #dddddd;
}

.conjunto2.active {
  display: block;
}

.conjunto3.active {
  display: block;
}

.conjunto2 {
  display: none;
  margin-left: 12px;
}

.conjunto3 {
  display: none;
  margin-left: 12px;
}

/* Botão nova partida */

.refresh.active {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 14px;
  font-size: 0.75rem;
  background: linear-gradient(to bottom, #434854, #9e9e9e);
  border: none;
  border-radius: 4px;
  width: 130px;
  height: 42px;
  padding: 14px 0;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.refresh {
  display: none;
}

.refresh img {
  margin-right: 2px;
}

/* Input */

.palpite {
  margin-bottom: 60px;
}

.palpite input {
  width: 217px;
  height: 42px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 14px;
  color: #222222;
  padding-left: 12px;
  outline: none;
}

.palpite input::-webkit-inner-spin-button {
  display: none;
}

.palpite.off input {
  background: #f5f5f5;
}
/* Botão enviar */

.enviar {
  width: 70px;
  height: 42px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(to bottom, #ef6c00, #c0661c);
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

.palpite.off .enviar {
  background: #dddddd;
}

/* Resposividade */

@media (max-width: 700px) {
  .container {
    width: 365px;
  }
  .container h1 {
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 62px;
  }

  .container h1::after {
    margin: 17px 0 95px 0;
    width: 205px;
  }

  .mensagem.active {
    margin-bottom: 32px;
  }

  .digitos {
    width: 183px;
    margin: 51px 0 150px 0;
  }

  .digitos li {
    min-height: 100px;
    width: 55px;
  }

  .digitos span {
    width: 51px;
    height: 11px;
  }

  .d1,
  .d4 {
    left: 2px;
  }

  .d2 {
    top: 21px;
    left: -20px;
  }

  .d3 {
    bottom: 21px;
    left: -20px;
    transform: rotate(270deg);
  }

  .d4 {
    bottom: 0px;
    transform: rotate(180deg);
  }

  .d5 {
    right: -20px;
    bottom: 21px;
    transform: rotate(90deg);
  }

  .d6 {
    top: 21px;
    right: -20px;
    transform: rotate(90deg);
  }

  .d7 {
    top: 44.5px;
    left: 2px;
  }

  .conjunto2,
  .conjunto3 {
    margin-left: 9px;
  }

  .refresh.active {
    margin-bottom: 73px;
  }

  .palpite {
    margin-bottom: 31px;
  }
}
